{% extends 'base.html' %}

{% block addcss %}
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/article-icon.css' %}">
{% endblock %}

{% block content %}
    <h1 style="color: aliceblue;">Article list</h1>
    <div class="articles">
        <div class="container">
            <div class="row justify-content-around">
                {% for i in article %}
                <div class="article">
                    <div class="col-lg-3 col-sm-6 boxy">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ i.thumb.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.snippet }}</p>
                                <div class="card-footer"><small>{{ i.date }}</small></div>
                                <a href="{% url 'articles:Detail' slug=i.slug %}" class="btn btn-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}